/* style body */
body{
	background-color: grey;
	font-family: Roboto;
	font-size: 13px;
	font-weight: 500;
	line-height: 20px;
}
/* end body */
/* start header */
#header{
	background-color: black;
	color: white;
	text-align: center;
	padding: 10px 12px 13px 14px;
}
#content{
	background-color:white;
	text-align: center;
	
}
#wp-inner{
	width: 960px;
	margin: 0 auto;
	background: gray;
	min-height: 550px;
}
#footer{
	background-color: black;
	color: white;
	text-align: center;
	padding: 10px 12px 13px 14px;
}

